<app-tarjeta-servicio 
    [servicio]="seo" 
    [seleccionado]="estaSeleccionado(seo)" 
    (seleccionar)="alSeleccionar(seo)">
</app-tarjeta-servicio>
<app-tarjeta-servicio 
    [servicio]="publicidad" 
    [seleccionado]="estaSeleccionado(publicidad)" 
    (seleccionar)="alSeleccionar(publicidad)">
</app-tarjeta-servicio>
<app-tarjeta-servicio 
    [servicio]="web" 
    [seleccionado]="estaSeleccionado(web)" 
    (seleccionar)="alSeleccionar(web)">
</app-tarjeta-servicio>
@if (estaSeleccionado(web)){
    <app-configurador-web [web]="web"></app-configurador-web>
}
<p>{{ total() }}</p>